/* Center the sign-up form */
.sign-up {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../../assets/desert.jpg);
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: white;
}

/* Heading Style */
h2 {
  font-size: 10px;
  color: black;
  margin-bottom: 25px;
  font-weight: 700;
  text-align: center;
}

/* Style the label and input fields */
.label {
  font-size: 14px;
  color: #7f5aff;
  width: 100%;
  margin-bottom: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  font-size: 14px;
  color: #7f5aff;
  font-weight: 500;
}

/* Enhanced Input fields */
.input-group input {
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #ddd;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.input-group input:focus {
  outline: none;
  border-color: #7f5aff;
  box-shadow: 0 4px 10px rgba(127, 90, 255, 0.4);
}

.input-group input::placeholder {
  color: #bbb;
}

.input-group input:focus::placeholder {
  color: transparent;
}

/* Style the Submit Button */
button {
  padding: 16px 30px;
  background-color: #7f5aff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

button:hover {
  background-color: #6b47e1;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #d3b8ff;
  cursor: not-allowed;
}

/* Style the message for errors or success */
.message {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.message.red {
  color: red;
}

.message.green {
  color: green;
}

/* Sign-up prompt text */
.signup-prompt {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signup-prompt a {
  color: #7f5aff;
  font-weight: bold;
  text-decoration: none;
}

.signup-prompt a:hover {
  text-decoration: underline;
}
