.key-services {
  padding: 2rem;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: #37034d;
  margin-bottom: 2rem;
}
.service-stars {
  font-size: 1.2rem;
  color: #ff0000; 
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );
  gap: 1.5rem;
  justify-items: center;
}

.service-card {
  padding: 1.5rem; 
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); 
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; 
  max-width: 500px; 
}

.service-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 1px;
  border-radius: 8px;
  margin-bottom: 1px;
  transform: scale(1);
  animation: zoomEffect 30s infinite;
}
@keyframes zoomEffect {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1); 
  }
}

.service-card h3 {
  font-size: 1.3rem; 
  margin-bottom: 0.5rem;
  color: #37034d;
}

.service-card p {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}
